<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
</style>

body { 
  background-color: rgb(240, 240, 240);
 }


h1 { color : blue ; 
background-color: rgb(230, 230, 230) ;
}


p { 
  text-align : center;
  text-anchor : justify; 
   }

div {
margin: 30px;
background: white;                        
padding: 0px;                             
border-radius: 50px;                        
box-shadow: 10px 10px 30px rgba(230,230,230,1);
}


h2{color : blue ;
  background-color: rgb(230, 230, 230);
  text-align: center;
} 


